{% extends 'base.html.twig' %}

{% block body %}
	{{ dump(app.user.roles) }}
	{{ dump(userById) }}
	{% if is_granted('ROLE_ADMIN') %}
		{#<h1>hello {{ user.username }}</h1>#}
		<table class="table">
			<tbody>
				<tr>
					<td>
						<th>Id</th>
					</td>
					<td>
						<th>Nazwa użytkownika </th>
					</td>
					<td>
						<th>Numer telefonu </th>
					</td>
					<td>
						<th>Email użytkownika </th>
					</td>
					<td>
						<th>Potwierdzenie emaila</th>
					</td>
				</tr>
				<tr>
					<td>
						<th>{{ userById.id }}</th>
					</td>
					<td>
						<th>
						{{ userById.username }}
						</th>
					</td>
					<td>
						<th>
						{{ userById.phone }}
						</th>
					</td>
					<td>
						<th>
						{{ userById.email }}
						</th>
					</td>
					<td>
						<th>
						{% if  userById.isActive == true %}
							Tak
						{% else %}
							Nie
						{% endif %}
						</th>
					</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
{% endblock %}