{% extends 'base.html.twig' %}

{% block body %}
	{% if notToday == false %}
		<a href="{{ path('post_new_index') }}">Nowy wpis</a><br/>
	{% endif %}
	<table class="table">
		<tbody>
			<tr>
				<th>Numer </th>
				<th>Data utworzenia </th>
				<th>Tytuł </th>
				<th>Post</th>
				<th>Załącznik</th>
				<th>User</th>
			</tr>
			{% for post in posts %}
				<tr>
					<td>
						{{ post.id }}
					</td>
					<td>
						{{ post.date|date('Y-m-d') }}
					</td>
					<td>
						<a href="{{ path('post_view_index', {'id': post.id}) }}">
						{{ post.title }}
						</a>
					</td>
					<td>
						<a href="{{ path('post_view_index', {'id': post.id}) }}">
							{{ post.body }}</a>
					</td>
					<td>
						<a href="{{ asset('uploads/attachments/' ~ post.attachment) }}">
							{{ post.attaOriginName }}</a>
					</td>>
					<td>
						{{ user.getUsername }}
					</td>
					<td>
						<a href="{{ path('post_edit_index', {'id': post.id}) }}">
							Edycja posta
						</a>
					</td>
					<td>
						<a href="{{ path('post_delete_index', {'id': post.id}) }}">
							Usunięcie posta
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}