{% extends 'base.html.twig' %}

{% block body %}
	<h1> Przeglądasz post o numerze {{ post.id }} </h1>
	<h2>Tytuł posta: {{ post.title }}</h2>
	<h3>Treść posta: {{ post.body }}</h3>
	<h5>Załącznik: {{ post.attaOriginName }}</h5>
	<div>
	<a href="{{ path('post_editpost_index', {'id': post.id}) }}">
		Edycja posta
	</a>
	</div>
	<div>
	<a href="{{ path('post_deletepost_index', {'id': post.id}) }}">
		Usunięcie posta
	</a>
	</div>
{% endblock %}

