{% extends 'base.html.twig' %}

{% block body %}
	{% block menu %} {% endblock %}
	<div class="container-fluid" style="width: 100%">
		<h1> Przeglądasz post o numerze {{ post.id }} </h1>
		<h2>Tytuł posta: {{ post.title }}</h2>
		<h3>Treść posta:</h3>
			<div class="row" style="word-wrap: break-word">
				{{ post.body }}
			</div>
		<h5>Załącznik: {{ post.attaOriginName }}</h5>
		<div>
			<a href="{{ path('post_edit_index', {'id': post.id}) }}">
				Edycja posta
			</a>
		</div>
		<div>
			<a href="{{ path('post_delete_index', {'id': post.id}) }}">
				Usunięcie posta
			</a>
		</div>
	</div>
{% endblock %}

